.navbar {
  background-color: rgb(22, 22, 22);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 70px;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid  #5d26b1;
  border-bottom-width: 2px;
}
.navbar-list {
  background-color: rgb(22, 22, 22);
  list-style: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.navbar-list a {
  color: white;
  
}
.moon {
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 718px) {
  .navbar {
   
    font-size: smaller;
  }
  .navbar-list a {
   
    font-size: smaller;
  }
  }
  @media screen and (max-width: 418px) {
    .navbar-list a {
      
      font-size: smaller;
    }
  }
  @media screen and (max-width: 288px) {
    .navbar-list a {
      margin: 10px;
      font-size: smaller;
    }
  }