.intro-main {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  position: absolute;
  color: white;
  justify-content: center;
  align-items: center;
}
.titulo {
  width: 50%;
}
.d3 {
  width: 50%;
  z-index: 1;
}
