.intro-main {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  position: absolute;
  color: white;
  justify-content: center;
  align-items: center;
}
.titulo {
  width: 40%;
  display: list-item;
}
.d3 {
  width: 50%;
  height: 77%;
  z-index: 1;
}
.boton-d{
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
  width: 70px;
  height: 30px;
  align-items: center;
  justify-content: center;
 
}
