.intro-main {
  width: 100%;
  height: 100vh;
  background-color: rgb(22, 22, 22);
  display: flex;
  position: absolute;
  color: white;
  justify-content: center;
  align-items: center;
}
.titulo {
  width: 40%;
  height: 30%;
  display: list-item;
}
.d3 {
  width: 44%;
  height: 85%;
  z-index: 1;
  
}
.boton-d{
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
  width: 70px;
  height: 30px;
  align-items: center;
  justify-content: center;
 
}
.nombre{
  border-radius: 15px;
  background-color: rgb(93, 8, 173);
}