.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 43px;
  background-color: rgb(22, 22, 22);
  z-index: 1;
  justify-content: center;
  align-items: center;
  color: white;
  border-top: 1px solid  #5d26b1;
  border-top-width: 2px;
}
.redes-footer {
  display: flex;
  position: fixed;
  right: 0;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}
.redes-footer a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  margin: 30px;
}
.derechos {
  position: fixed;
  left: 0;
  margin-left: 20px;
}
@media screen and (max-width: 920px) {
  .creado{
    display: none;
  }
  .derechos {
    display: none;
  }
  .redes-footer a {
    font-size: 1.2rem;
    margin: 40px;
    
  }
  .redes-footer {
  
    right: initial;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 418px) {
  .creado {
    font-size: smaller;
  }
  .derechos {
    display: none;
  }
  .redes-footer a {
    font-size: 1rem;
  
    margin: 35px;
  }
  .creado{
    display: none;
  }
}
  
