.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-color: rgb(22, 22, 22);
  z-index: 1;
  justify-content: center;
  align-items: center;
  color: white;
}
.redes-footer {
  display: flex;
  position: fixed;
  right: 0;
  margin-right: 20px;
}
.redes-footer a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  margin: 30px;
}
.derechos {
  position: fixed;
  left: 0;
  margin-left: 20px;
}
